
#wrap
  #header-region
  #main-region.container
  #push

-if current_user
  :javascript 
    $(function(){
      SchedulingApp.start({
        currentUser: gon.current_user,
        environment: gon.environment,
        eventTypes: gon.event_types
      })
    })
-else
  %h1 Welcome to the Scheduling Application
  %h3 Please sign in
#footer-region
